<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="salary-UK">
    <div class="calculate" , ng-controller="myCtrl">
        <h2 th:text="#{main.page.salary.uk.text}"></h2>
        <form><span th:text="#{main.page.salary.gbp.text}"></span>:<input type="text" ng-model="value">
            <button type="button" class="btn btn-primary" ng-click="myFunc('UK', value)"><span
                    th:text="#{main.page.button.calculate.text}"></span></button>
        </form>
        <h3><span th:text="#{main.page.answer.text}"></span>:</h3>
        <p><span th:text="#{main.page.answer.pln.text}"></span>: {{content}}</p>
    </div>
</th:block>
<th:block th:fragment="salary-DE">
    <div class="calculate" , ng-controller="myCtrl">
        <h2 th:text="#{main.page.salary.de.text}"></h2>
        <form><span th:text="#{main.page.salary.eur.text}"></span>: <input type="text" ng-model="value">
            <button type="button" class="btn btn-primary" ng-click="myFunc('DE', value)"><span
                    th:text="#{main.page.button.calculate.text}"></span></button>
        </form>
        <h3><span th:text="#{main.page.answer.text}"></span>:</h3>
        <p><span th:text="#{main.page.answer.pln.text}"></span>: {{content}}</p>
    </div>
</th:block>
<th:block th:fragment="salary-PL">
    <div class="calculate" , ng-controller="myCtrl">
        <h2 th:text="#{main.page.salary.pl.text}"></h2>
        <form><span th:text="#{main.page.salary.pln.text}"></span>:<input type="text" ng-model="value">
            <button type="button" class="btn btn-primary" ng-click="myFunc('PL', value)"><span
                    th:text="#{main.page.button.calculate.text}"></span></button>
        </form>
        <h3><span th:text="#{main.page.answer.text}"></span>:</h3>
        <p><span th:text="#{main.page.answer.pln.text}"></span>: {{content}}</p>
    </div>
</th:block>
</html>