/**
 * Created by MikBac on 2018
 */
@import "_constants.less";

.calculate {
  text-align: center;
  background-color: @calculate-background-color;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
  border-radius: 15%;
  border: 3px solid @calculate-border;
}