/**
 * Created by MikBac on 2018
 */
@import "_constants.less";

body {
  background-color: @background-color;
  padding-top: 1%;
}

h1 {
  color: @h1-color;
  text-align: center;
  text-shadow: @h1-text-shadow 0.1em 0.1em 0.2em
}

h2 {
  color: @h2-color;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 30px;
}

input[type=text], select {
  width: 40%;
  padding: 2% 2%;
  margin: 1% 1%;
  display: inline-block;
  border: 1px solid @input-border;
  border-radius: 0%;
  box-sizing: border-box;
}