<!--
Created by MikBac on 2018
-->
<!DOCTYPE html>
<html th:lang="${language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="components/others :: meta"/>
    <title>PLN | Salary calculator</title>
    <th:block th:include="components/imports :: links"/>
</head>
<body ng-app="myApp">
<header>
    <h1 th:text="#{main.page.salary.calculator.text}"></h1>
</header>
<main>
    <div class="row">
        <th:block th:include="components/calculations :: salary"/>
    </div>
    <div class="row mt-3 ml-2">
        <th:block th:include="components/languages :: language"/>
    </div>
</main>
<footer>
</footer>
<th:block th:include="components/_javascript :: scripts"/>
</body>
</html>
