<!--
Created by MikBac on 2018
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="components/others :: meta"/>
    <title>PLN | Salary calculator</title>
    <th:block th:include="components/imports :: links"/>
</head>
<body ng-app="myApp">
<header>
    <h1 th:text="#{main.page.salary.calculator.text}"></h1>
</header>
<main>
    <th:block th:include="components/calculations :: salary-UK"/>
    <th:block th:include="components/calculations :: salary-DE"/>
    <th:block th:include="components/calculations :: salary-PL"/>
</main>
<footer>
</footer>
<th:block th:include="components/imports :: scripts"/>
</body>
</html>
